body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
td {
  border: 1px solid #CCC;
  padding: 8px;
  text-align: center;
}
tr.day {
  background-color: #F0F0F0;
  font-weight: bold;
}

tr.competition {
  background-color: #E0E0E0;
  & th {
    font-weight: normal;
  }
}

#filters {
  position: absolute;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #CCC;
  background-color: #F9F9F9;
  & button {
    align-self: center;
    width: 40%;
  }
}

.status-finished {
  color: green;
  font-weight: bold;
}

.status-live {
  color: orange;
  font-weight: bold;
}

.status-scheduled {
  color: gray;
  font-weight: bold;
}

.winner {
  background-color: #BDFFB3;
  font-weight: bold;
}

.score {
  font-weight: bold;
}
