body {
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  gap: 8%;
  width: 100%;
  background-color: #E0E0E0;
  padding: 10px;
  margin: auto;
}

td {
  border: 1px solid #CFCFCF;
  padding: 8px;
  text-align: center;
}
tr.day {
  background-color: #F0F0F0;
  font-weight: bold;
}
tr.competition {
  background-color: #E0E0E0;
  & th {
    font-weight: normal;
  }
}

button, input, select {
  cursor: pointer;
}

#events-container {
  width: 45%;
  margin: auto;
  & table {
    border-collapse: collapse;
    margin: 20px auto;
    table-layout: fixed;
  }
}

#event-container {
  width: 40%;
  margin: auto;
  & table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    table-layout: fixed;
  }
}

#filters {
  position: absolute;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #CFCFCF;
  background-color: #F0F0F0;
  & button {
    align-self: center;
    width: 40%;
  }
}

#errors {
  text-align: center;
  font-weight: bold;
  font-size: 200%
}

.optional {
  color: gray;
}

.status-finished {
  color: green;
  font-weight: bold;
}

.status-live {
  color: orange;
  font-weight: bold;
}

.status-scheduled {
  color: gray;
  font-weight: bold;
}

.winner {
  background-color: #BDFFB3;
  font-weight: bold;
}

.score {
  font-weight: bold;
  font-size: 150%;
}

.outcome {
  font-weight: bold;
}
